body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
    margin: 0px;
   }
header {border-bottom: solid 4px red;
    padding: 10px;
    font-size: 32px;
    color:rgb(251, 255, 0)
}
section{background: yellow;
    padding-bottom: 80px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
margin-right: 5%;
}